<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>salt</param-name>
        <param-value>NIIT</param-value>
    </context-param>
    <context-param>
        <param-name>ServerPath</param-name>
        <param-value>http://localhost:8080/GroupFund_Bank</param-value>
    </context-param>
    <context-param>
        <param-name>ServerSecurePath</param-name>
        <param-value>https://localhost:8181/GroupFund_Bank</param-value>
    </context-param>
    <listener>
        <description>Session Listener, for user visiting counter or store user info</description>
        <listener-class>Session.SessionListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Session.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>Session.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Error</servlet-name>
        <servlet-class>Error.Error</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Session.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionExample</servlet-name>
        <servlet-class>Session.SessionExample</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewTicket</servlet-name>
        <servlet-class>Queue.NewTicket</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Account/LoginAuth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Error</servlet-name>
        <url-pattern>/Error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Account/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionExample</servlet-name>
        <url-pattern>/SessionExample</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewTicket</servlet-name>
        <url-pattern>/Queue/Request</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <display-name>Login</display-name>
        <web-resource-collection>
            <web-resource-name>Login</web-resource-name>
            <description/>
            <url-pattern>/Account/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
</web-app>
